@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CairoPlay-Bold";
  src: url("../app/Cairo_Play/static/CairoPlay-Bold.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-image: url(../../public/DSC01024-ARW_DxO_DeepPRIME_050822.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.link:hover {
  text-decoration: underline overline;
  text-underline-offset: 7px;
  text-decoration-color: #dbb95a;
  color: rgb(220, 190, 178);
}
.footer-title {
  font-weight: 600;
  font-size: xx-large;
}
.footer {
  background-attachment: fixed;
}

html {
  margin: 0 auto;
  width: 70%;
}

.box {
  box-sizing: border-box;
  background-color: rgba(250, 235, 215, 0.652);
  border-radius: 12px;
  padding: 10px;
}

.links-header-container {
  display: flex;
  align-items: center;
}

.links-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.links-header-right {
  display: flex;
  gap: 1rem;
}

.links-header h2 {
  display: flex;
  justify-content: start;
}

h2 {
  font-family: "CairoPlay-Bold";
  font-weight: 700;
}

div h1 {
  display: flex;
  justify-content: center;
  font-size: larger;
  color: #dbb95a;
  font-family: "CairoPlay-Bold";
  font-weight: 500;
}

.blogpage {
  display: flex;

  text-align: center;
  flex-direction: column;
}

.postlist {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  border-radius: 12px;
  background-color: rgba(71, 94, 56, 0.5);
}

/* gallerypreview */
#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20%;
}
@media (max-width: 968px) {
  #container {
    flex-wrap: wrap;
  }
}
#container .item {
  position: relative;
  width: 240px;
  height: 240px;
  cursor: pointer;
  z-index: 0;
  margin: 20px;
}
@media (max-width: 968px) {
  #container .item {
    width: 100%;
  }
}
#container .item .content {
  height: 100%;
  width: 100%;
  border: 2px solid #dbb95a;
  display: flex;
  align-items: flex-end;
  padding: 10px 15px;
  border-radius: 4px;
  /* background: rgba(71, 94, 56); */
  background-image: url(../../public/finallogo.png);
  background-color: rgb(51, 67, 41);
  background-size: contain;
  transform: rotate(0) scale(1);
  transition: all 0.2s cubic-bezier(0.28, 0.05, 0.65, 0.97);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}
#container .item .content h2 {
  font-weight: 600;
  color: #dbb95a;
  transition: all 0.3s cubic-bezier(0.28, 0.05, 0.65, 0.97);
}
#container .item .content:after {
  position: absolute;
  bottom: -2px;
  right: -2px;
  content: "";
  width: calc(100% + 4px);
  height: 4px;
  background-image: url(../../public/finallogo.png);
  background: #dbca6a;
  border-radius: 0 0 4px 4px;
  transition: all 0.3s cubic-bezier(0.28, 0.05, 0.65, 0.97);
}
#container .item .previews {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: -1;
}
#container .item .previews:nth-child(2) .preview-image {
  right: 0;
}
#container .item .previews .preview-image {
  width: 160px;
  height: 110px;
  transition: all 0.2s cubic-bezier(0.28, 0.05, 0.65, 0.97);
  position: absolute;
  bottom: 10px;
  left: 0;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}
#container .item .previews .preview-image img {
  width: 140%;
}
#container .item:hover {
  z-index: 5;
}
#container .item:hover .content {
  background-image: url(../../public/finallogo.png);
  background-color: #dbca6a87;
  border: 2px solid #5a5863;
  transform: rotate(0) scale(1.2);
  animation: shake 0.4s 1;
  animation-delay: 0.4s;
  box-shadow: -27px 18px 80px 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s cubic-bezier(0.28, 0.05, 0.65, 0.97);
}
#container .item:hover .content:after {
  width: 0;
  transition: all 0.3s cubic-bezier(0.28, 0.05, 0.65, 0.97);
}
#container .item:hover .content h2 {
  color: #e8e8ee;
  transition: all 0.3s cubic-bezier(0.28, 0.05, 0.65, 0.97);
}
#container .item:hover .previews .preview-image {
  transition: all 0.2s cubic-bezier(0.28, 0.05, 0.65, 0.97);
  box-shadow: -8px 5px 30px 0 rgba(0, 0, 0, 0.2);
}
#container .item:hover .previews .preview-image:nth-child(1) {
  transform: rotate(7deg) translate(-150px, -100px);
  transition-delay: 0.4s;
}
#container .item:hover .previews .preview-image:nth-child(2) {
  transform: rotate(-8deg) translate(-120px, 0);
  transition-delay: 0.45s;
}
#container .item:hover .previews .preview-image:nth-child(3) {
  transform: rotate(4deg) translate(-40px, 100px);
  transition-delay: 0.55s;
}
#container .item:hover .previews .preview-image:nth-child(4) {
  transform: rotate(3deg) translate(130px, 70px);
  transition-delay: 0.5s;
}
#container .item:hover .previews .preview-image:nth-child(5) {
  transform: rotate(0deg) translate(180px, -40px);
  transition-delay: 0.6s;
}
@keyframes shake {
  0% {
    transform: rotate(3deg) scale(1.2);
  }
  20% {
    transform: rotate(-3deg) scale(1.2);
  }
  40% {
    transform: rotate(3deg) scale(1.2);
  }
  60% {
    transform: rotate(-3deg) scale(1.2);
  }
  80% {
    transform: rotate(3deg) scale(1.2);
  }
  100% {
    transform: rotate(0) scale(1.2);
  }
}
